---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/posts/13"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1707231088'
      Etag:
      - W/"150-jmPMxXQIZLCEEVRunU0Zippecws"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 2,
          "id": 13,
          "title": "dolorum ut in voluptas mollitia et saepe quo animi",
          "body": "aut dicta possimus sint mollitia voluptas commodi quo doloremque\niste corrupti reiciendis voluptatem eius rerum\nsit cumque quod eligendi laborum minima\nperferendis recusandae assumenda consectetur porro architecto ipsum ipsam"
        }
  recorded_at: Tue, 06 Feb 2024 16:38:53 GMT
[...]
- request:
    method: get
    uri: "<API-URL>/posts/7"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1707238828'
      Etag:
      - W/"e1-wrK4SLERwov0EbpkNAKTHsvGWBs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 7,
          "title": "magnam facilis autem",
          "body": "dolore placeat quibusdam ea quo vitae\nmagni quis enim qui quis quo nemo aut saepe\nquidem repellat excepturi ut quia\nsunt ut sequi eos ea sed quas"
        }
  recorded_at: Tue, 06 Feb 2024 16:59:46 GMT
recorded_with: VCR 6.2.0
